.size{
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
  
    height: 100%
    
}
h1{
    align-content: center;
    margin-left : 40%;
}
label{
    color: white
}
video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
    }
    
    #home{
        background-color: transparent;
        color: #fff;
        text-align: center;
        padding-top: 0%;
        padding-right: 20%
        }
        #home h1{
        
        margin-right: 10%
        }
       
       .text-danger{
           color:white;
font-size: 1em
       }